*{
  font-family: 'Poppins', sans-serif;
}
.Application-page{
margin-left: 4rem;
display: flex;
flex-direction: column;
gap: 2.5rem;
}
.Label{
  flex-basis: 35%;
}
.LabelQuestions{
  flex-basis: 60%;
  font-size: 20px;
  font-weight: 600;
  line-height: 114%;
}
.choiceButton{
  border: none;
}
.layout{
background-color: #FFF;
}
.pageinfo{
background-color: aqua;
}